In [7]:
import pandas as pd

In [8]:
data = pd.read_csv('~/Downloads/movies_with_more_than_800.csv')

In [9]:
data.head()

,Unnamed: 0,productId,userId,score,summary,review
0,166695,B009NQKPUW,A2GUPJMD2G0XMV,2.0,Good Effects Only Go So Far,"As a Sci-Fi fan forever, I can say that you wo..."
1,166696,B009NQKPUW,A3RUZ8RJVPAAW6,4.0,If not a classic now...a classic later....,"Sir Ridley Scott is classified as a ""visual di..."
2,166697,B009NQKPUW,A3292BN5CWS47V,5.0,I'm Pro-metheus,Finally got the Blu-ray today and am happy to ...
3,166698,B009NQKPUW,A5T0FQB5A40S8,5.0,thinking man's sci-fi,"If you like sci-fi that makes you think, than ..."
4,166699,B009NQKPUW,A1E110L9ZKX6FD,5.0,Greatest big budget Sci Fi this decade so far...,I have been a fan of the Alien franchise since...

In [10]:
data.shape

(21485, 6)

In [11]:
del data['userId']
del data['Unnamed: 0']
del data['summary']

In [12]:
data.head()

    productId  score                                             review
0  B009NQKPUW    2.0  As a Sci-Fi fan forever, I can say that you wo...
1  B009NQKPUW    4.0  Sir Ridley Scott is classified as a "visual di...
2  B009NQKPUW    5.0  Finally got the Blu-ray today and am happy to ...
3  B009NQKPUW    5.0  If you like sci-fi that makes you think, than ...
4  B009NQKPUW    5.0  I have been a fan of the Alien franchise since...

In [13]:
data.insert(2, 'beta', 'b')

In [14]:
data.head()

    productId  score beta                                             review
0  B009NQKPUW    2.0    b  As a Sci-Fi fan forever, I can say that you wo...
1  B009NQKPUW    4.0    b  Sir Ridley Scott is classified as a "visual di...
2  B009NQKPUW    5.0    b  Finally got the Blu-ray today and am happy to ...
3  B009NQKPUW    5.0    b  If you like sci-fi that makes you think, than ...
4  B009NQKPUW    5.0    b  I have been a fan of the Alien franchise since...