In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('movie_metadata.csv')

In [3]:
list(df.columns)

['color',
 'director_name',
 'num_critic_for_reviews',
 'duration',
 'director_facebook_likes',
 'actor_3_facebook_likes',
 'actor_2_name',
 'actor_1_facebook_likes',
 'gross',
 'genres',
 'actor_1_name',
 'movie_title',
 'num_voted_users',
 'cast_total_facebook_likes',
 'actor_3_name',
 'facenumber_in_poster',
 'plot_keywords',
 'movie_imdb_link',
 'num_user_for_reviews',
 'language',
 'country',
 'content_rating',
 'budget',
 'title_year',
 'actor_2_facebook_likes',
 'imdb_score',
 'aspect_ratio',
 'movie_facebook_likes']

In [4]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [5]:
df.movie_title[:20]

0                                               Avatar
1             Pirates of the Caribbean: At World's End
2                                              Spectre
3                                The Dark Knight Rises
4     Star Wars: Episode VII - The Force Awakens    ...
5                                          John Carter
6                                         Spider-Man 3
7                                              Tangled
8                              Avengers: Age of Ultron
9               Harry Potter and the Half-Blood Prince
10                  Batman v Superman: Dawn of Justice
11                                    Superman Returns
12                                   Quantum of Solace
13          Pirates of the Caribbean: Dead Man's Chest
14                                     The Lone Ranger
15                                        Man of Steel
16            The Chronicles of Narnia: Prince Caspian
17                                        The Avengers
18         Pirates of the Caribbean: On Stranger Tides
19                                      Men in Black 3
Name: movie_title, dtype: object

In [6]:
df.movie_title.nunique()
# 4917 movies

4917

In [7]:
df.movie_title.value_counts()

Victor Frankenstein                               3
King Kong                                         3
The Fast and the Furious                          3
Ben-Hur                                           3
Pan                                               3
Halloween                                         3
Home                                              3
Dredd                                             2
Hero                                              2
The Calling                                       2
Halloween II                                      2
The Watch                                         2
Exodus: Gods and Kings                            2
Alice in Wonderland                               2
Total Recall                                      2
Lucky Number Slevin                               2
Dangerous Liaisons                                2
Night of the Living Dead                          2
The Full Monty                                    2
Clash of the Titans                               2
The Return of the Living Dead                     2
Crossroads                                        2
The Twilight Saga: Breaking Dawn - Part 2         2
Goosebumps                                        2
Teenage Mutant Ninja Turtles                      2
Bad Moms                                          2
TRON: Legacy                                      2
Snatch                                            2
Snitch                                            2
Syriana                                           2
                                                 ..
Valiant                                           1
Mud                                               1
Of Horses and Men                                 1
Beneath Hill 60                                   1
You, Me and Dupree                                1
Jerry Maguire                                     1
Super Hybrid                                      1
Heavenly Creatures                                1
Life as a House                                   1
Drive Me Crazy                                    1
Head Over Heels                                   1
Albert Nobbs                                      1
Selma                                             1
Last Vegas                                        1
The Reaping                                       1
The Best Man                                      1
Mirror Mirror                                     1
Into the Blue                                     1
Dancer in the Dark                                1
Prisoners                                         1
Major Dundee                                      1
A Nightmare on Elm Street 2: Freddy's Revenge     1
The Hangover                                      1
Kindergarten Cop                                  1
The Slaughter Rule                                1
Foodfight!                                        1
The Tigger Movie                                  1
The Haunting                                      1
The Little Prince                                 1
The Last Legion                                   1
Name: movie_title, Length: 4917, dtype: int64

In [8]:
df[df['director_name'] == 'James Cameron']

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
26,Color,James Cameron,315.0,194.0,0.0,794.0,Kate Winslet,29000.0,658672302.0,Drama|Romance,...,2528.0,English,USA,PG-13,200000000.0,1997.0,14000.0,7.7,2.35,26000
288,Color,James Cameron,210.0,153.0,0.0,539.0,Jenette Goldstein,780.0,204843350.0,Action|Sci-Fi,...,983.0,English,USA,R,102000000.0,1991.0,604.0,8.5,2.35,13000
291,Color,James Cameron,94.0,141.0,0.0,618.0,Tia Carrere,2000.0,146282411.0,Action|Comedy|Thriller,...,351.0,English,USA,R,115000000.0,1994.0,1000.0,7.2,2.35,0
606,Color,James Cameron,82.0,171.0,0.0,638.0,Todd Graff,2000.0,54222000.0,Adventure|Drama|Sci-Fi|Thriller,...,380.0,English,USA,PG-13,69500000.0,1989.0,650.0,7.6,2.35,0
2486,Color,James Cameron,250.0,154.0,0.0,604.0,Carrie Henn,2000.0,85200000.0,Action|Adventure|Sci-Fi,...,1076.0,English,USA,R,18500000.0,1986.0,626.0,8.4,1.85,18000
3575,Color,James Cameron,204.0,107.0,0.0,255.0,Brian Thompson,2000.0,38400000.0,Action|Sci-Fi,...,692.0,English,UK,R,6500000.0,1984.0,663.0,8.1,1.85,13000

In [11]:
df[df['movie_title'] == 'Avatar']

Empty DataFrame
Columns: [color, director_name, num_critic_for_reviews, duration, director_facebook_likes, actor_3_facebook_likes, actor_2_name, actor_1_facebook_likes, gross, genres, actor_1_name, movie_title, num_voted_users, cast_total_facebook_likes, actor_3_name, facenumber_in_poster, plot_keywords, movie_imdb_link, num_user_for_reviews, language, country, content_rating, budget, title_year, actor_2_facebook_likes, imdb_score, aspect_ratio, movie_facebook_likes]
Index: []

[0 rows x 28 columns]

In [10]:
df.movie_title

0                                                 Avatar
1               Pirates of the Caribbean: At World's End
2                                                Spectre
3                                  The Dark Knight Rises
4       Star Wars: Episode VII - The Force Awakens    ...
5                                            John Carter
6                                           Spider-Man 3
7                                                Tangled
8                                Avengers: Age of Ultron
9                 Harry Potter and the Half-Blood Prince
10                    Batman v Superman: Dawn of Justice
11                                      Superman Returns
12                                     Quantum of Solace
13            Pirates of the Caribbean: Dead Man's Chest
14                                       The Lone Ranger
15                                          Man of Steel
16              The Chronicles of Narnia: Prince Caspian
17                                          The Avengers
18           Pirates of the Caribbean: On Stranger Tides
19                                        Men in Black 3
20             The Hobbit: The Battle of the Five Armies
21                                The Amazing Spider-Man
22                                            Robin Hood
23                   The Hobbit: The Desolation of Smaug
24                                    The Golden Compass
25                                             King Kong
26                                               Titanic
27                            Captain America: Civil War
28                                            Battleship
29                                        Jurassic World
                              ...
5013                                              Manito
5014                                             Rampage
5015                                             Slacker
5016                                         Dutch Kills
5017                                           Dry Spell
5018                                            Flywheel
5019                                              Exeter
5020                                          The Ridges
5021                                     The Puffy Chair
5022                                Stories of Our Lives
5023                                    Breaking Upwards
5024                            All Superheroes Must Die
5025                                      Pink Flamingos
5026                                               Clean
5027                                          The Circle
5028                                         Tin Can Man
5029                                            The Cure
5030                                      On the Downlow
5031                        Sanctuary; Quite a Conundrum
5032                                                Bang
5033                                              Primer
5034                                              Cavite
5035                                         El Mariachi
5036                                     The Mongol King
5037                                           Newlyweds
5038                             Signed Sealed Delivered
5039                           The Following
5040                                A Plague So Pleasant
5041                                    Shanghai Calling
5042                                   My Date with Drew
Name: movie_title, Length: 5043, dtype: object

In [ ]:
ironman_list =